@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --yellow-light: #F3B600;
  --yellow-dark: #FFA800;
  --yellow-extra-dark: #ff8800;
}

.brand-gradient{
  background: linear-gradient(90deg, var(--yellow-extra-dark), var(--yellow-light));
}

/* Logo */
.logo-icon{
  height: 3.1rem;
}

.logo-img{
  height: 1.6rem;
}

/* Mobile Menu */
.menu-close{
  left: -240px;
}